<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<h1> Sign up </h1>
<%= form_with scope: :user, url: { action: "create" },  local: true do |form| %>
  <div>
    <%= form.label :username%>
    <%= form.text_field :username, id: 'username' %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :password%>
    <%= form.password_field :password, id: 'password'%>
  </div>
  <%= form.submit %>
<% end %>

